<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yapt.demo.test.core.dao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yapt.demo.test.core.dao.model.UserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,email,city_id,sex,create_time,password
    </sql>

    <insert id="save" parameterType="com.yapt.demo.test.core.dao.model.UserDO">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="get" parameterType="com.yapt.demo.test.core.dao.model.UserDO"
            resultType="com.yapt.demo.test.core.dao.model.UserDO">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where
        <trim prefixOverrides="AND | OR">
            <if test="id != null and '' != id">
                and id = #{activityId,jdbcType=VARCHAR}
            </if>
            <if test="name != null and '' != name">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and '' != phone">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null and '' != email">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="cityId != null and '' != cityId">
                and city_id = #{cityId,jdbcType=INTEGER}
            </if>
            <if test="sex != null and '' != sex">
                and sex = #{sex,jdbcType=INTEGER}
            </if>
            <if test="password != null and '' != password">
                and password = #{password,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
</mapper>